---
title: Odkazy
date: 2015-12-08 3:22
comments: false
---

%h2 Spřátelené stránky
%ul.links
  %li= link_to "Mártyho blog", "http://blog.martinsimko.cz/"
  %li= link_to "Radja", "http://radja.cz/"
  %li= link_to "Webdesigner Dana Švédová", "http://www.dana-svedova.cz/"
  %li= link_to "Budík", "http://weckr.net/"
  %li= link_to "pmg logistic", "http://pmglogistic.cz/"
  %li= link_to "Vaše texty", "http://www.vasetexty.cz"
  %li= link_to "Fotografické služby Brno", "http://blazekfoto.cz/"

%h2 Moje další stránky
%ul.links
  %li= link_to "Databáze triček na prodej", "http://tricka.trikoko.cz"
  %li= link_to "Resident Evil hry na prodej", "http://resident-evil.cz"
  %li= link_to "Aplikace Externí paměť", "http://exmem.org"
  %li= link_to "Tvorba Youtube playlistů", "http://zvuki.cz"
  %li= link_to image_tag('/a/pix/i/vystavuj.png'), "http://vystavuj.cz"
  %li= link_to image_tag('/a/pix/i/optimalnidieta.png'), "http://optimalnidieta.cz"
  %li= link_to "Programátor na volné noze", "http://programator.pro"

%h2 Zajímavé blogy
%ul.links
  %li= link_to "Elektronický Ott", "http://www.e-ott.info"
  %li= link_to "Petr Loukota · blog ajťáka, pisálka a milovníka kinematografie", "http://blog.petrloukota.cz/"

