---
title: Odkazy
date: 2014-01-10 23:46
comments: false
---

%h2 Zajímavé projekty
%ul.links
  %li= link_to "Lovci snů", "http://lovcisnu.cz"
  %li= link_to "Vaše texty", "http://www.vasetexty.cz"


%h2 Spřátelené stránky
%ul.links
  %li= link_to "Mártyho blog", "http://blog.martinsimko.cz/"
  %li= link_to "Radja", "http://radja.cz/"
  %li= link_to "Webdesigner Dana Švédová", "http://www.dana-svedova.cz/"
  %li= link_to "Budík", "http://weckr.net/"
  %li= link_to "Elektro-energo montáže", "http://energocomplet.cz/"
  %li= link_to "pmg logistic", "http://pmglogistic.cz/"
  %li= link_to "Zumba v Brně", "http://cvicenikvalitne.cz/"
  %li= link_to "Petr Loukota · blog ajťáka, pisálka a milovníka kinematografie", "http://blog.petrloukota.cz/"

%h2 Brněnští fotografové
%ul.links
  %li= link_to "Fotograf Filip Blažek", "http://blazekfoto.cz/"
  %li= link_to "Portrétní foto Brno", "http://portretnifoto.cz/"

%h2 Moje další stránky
%ul.links
  %li= link_to image_tag('/a/pix/i/vystavuj.png'), "http://vystavuj.cz"
  %li= link_to image_tag('/a/pix/i/optimalnidieta.png'), "http://optimalnidieta.cz"
  %li= link_to "Programátor na volné noze", "http://programator.pro"

