!!! html
%html
  = partial '/layouts/head'

  %body.one-sidebar-right{:class => "#{page_classes}"}
    #container
      = partial '/layouts/header'

      %section#center.container.row.wrapper
        %section#content.content.threequarter
          .inn= yield
        %aside#sidebar-right.wrapper.quarter
          .inn= yield_content :sidebar

      = partial '/layouts/footer'
