
%h4 Spřízněné weby
%ul.side-nav
  -#%li= link_to '', ''
  %li= link_to 'Vystavuj', 'http://vystavuj.cz'
  %li= link_to 'Lovci snů', 'http://lovcisnu.cz'
  %li= link_to 'Techsqoat', 'http://www.techsquat.com/'
  %li= link_to 'Satoshi Nakamoto', 'http://satoshi.nakamoto.cz', title: 'Kryptoměny, Bitcoin, diskuze'
  %li= link_to 'Kdy jedeš', 'http://kj.cz'
