---
title: Fanda Internetu
pageable: true
---
%section
  - page_articles.each do |article|
    %article.inlist{"style"=>"display: block"}
      %header= partial '/partials/list_header', :locals => {:article => article}
      %section.summary
        = article.summary
      %footer
        - if article.tags.any?
          %span.label.label-red
            = article.tags.last.capitalize unless article.tags.empty?
  .paginate.out
    .page-previous
      - if prev_page
        = link_to '‹ Předchozí strana', prev_page
    .page-number
      %span.label.color-red
        = "#{page_number} / #{num_pages}"
    .page-next
      - if next_page
        = link_to 'Další strana ›', next_page
