!!! html
%html
  = partial '/layouts/head'

  %body.one-sidebar-right{:class => "#{page_classes}"}
    #container
      = partial '/layouts/header'

      %section#center.container.row
        %section#content.large-9.columns
          .inn= yield
        %aside#sidebar-right.large-3.columns
          .inn= yield_content :sidebar

      = partial '/layouts/footer'
